<div class="h-screen flex flex-col items-center justify-center gap-4">
  <h1 class="text-4xl font-bold">Metamask</h1>
  <div *ngIf="!connected; else connect" class="card flex justify-content-center">
    <div>
      <p-button (click)="getAccounts()" label="Connect MetaMask"
        styleClass="p-button-raised p-button-secondary"></p-button>
    </div>
  </div>
  <ng-template #connect>
    <div class="pb-6">
      <p>Successfully connected to MetaMask!</p>
    </div>
    <form [formGroup]="formGroup">
      <div>
        <div class="py-4">
          <app-chain-list-table (selectedChain)="handleChainSelection($event)"
            (error)="handleNetworkChange($event)"></app-chain-list-table>
        </div>
        <div class="py-4">
          <h2 class="text-xl font-bold mb-4">Enter recipient address</h2>
          <div class="card flex justify-content-center w-full">
            <input type="text" pInputText formControlName="recipientAddress" placeholder="Input hex value"
              class="w-full" />
          </div>
        </div>
        <div class="py-4">
          <h2 class="text-xl font-bold mb-4">Enter amount of coins</h2>
          <div class="card flex justify-content-center w-full">
            <input type="text" pInputText formControlName="amount" placeholder="Input number" class="w-full" />
          </div>
        </div>
        <div class="card flex justify-content-center py-4">
          <p-button label="Send" styleClass="p-button-info" [disabled]="!isValid()"
            (click)="createTransation()"></p-button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
<p-toast key="err" position="bottom-center"></p-toast>
<p-toast key="suc" position="bottom-center"></p-toast>